@charset "UTF-8";
/* CSS Document */
body
{
	background-color:#e8e8e8;	
	font-family: 'Varela Round', sans-serif;
	margin:0;
	padding:25px;
}
.items
{
	width:100%;
	height:150px;	
}
.items_cat
{
	width:200px;
	height:200px;
	background-color:#09C;
	margin:15px;
	float:left;	
}
#item_vraag
{
	background-color:#e61a54;
	width:200px;
	height:200px;	
}
#item_discussie
{
	background-color:#18ac92;
	width:200px;
	height:200px;	
}
#item_initiatief
{
	background-color:#ffa200;
	width:200px;
	height:200px;	
}
#item_aanmelden
{
	background-color:#fff;
	width:200px;
	height:200px;
	position:relative;
}
#item_aanmelden p
{
	
	margin-top:10px;
	font-size:13px;
	padding:0;
	margin-left:25px;


}
.items_cat h1
{
	font-size:12px;
	color:#fff;
	text-align:center;
	margin-top:90px;


}
.subject h1
{
	font-size:14px;
	color:#e61a54;
	text-align:center;
	margin-top:100px;
	display:block;
	line-height:50px;
	margin-left:-320px;


}
.nieuws_buurt p
{
	text-align:center;
	margin-top:10px;
	font-size:13px;
	padding:0;

}
.btn_aanmelden
{
	width:100px;
	height:25px;
	background-color:#e61a54;
	position:absolute;
	text-align:center;	
	bottom:5px;
	right:10px;
	line-height:25px;
	text-decoration:none;

}

.items_cat h4
{
	color:#e61a54;	
	font-size:16px;
	text-align:center;
	margin-left:-50px;
}
.items_cat h3
{
	font-size:14px;
	color:#FFF;
	text-align:center;
	margin-top:90px;
	}
.items_cat h2
{
	font-size:14px;
	color:#FFF;
	text-align:center;
	margin-top:90px;
}
.items_cat span h1
{
	display:inline-block;
	border-bottom:1px solid white;
	padding-bottom:5px;
	margin-left:35px;
}
.items_cat span h2
{
	display:inline-block;
	border-bottom:1px solid white;
	padding-bottom:5px;
	margin-left:20px;
}
.items_cat span h3
{
	display:inline-block;
	border-bottom:1px solid white;
	padding-bottom:5px;
	margin-left:25px;
}
.nieuws_buurt
{
	margin-top:5px;
	margin-left:15px;
	padding:0;
	
}
.nieuws_cat
{
	width:500px;
	height:200px;
	background-color:#3F9;
	margin:0;
	padding:0;
	display:block;
	margin-top:40px;
	position:relative;
	
		
}

#nieuws_cat1
{
	width:500px;
	height:150px;
	background-color:#e61a54;
		
}
#nieuws_cat2
{
	width:500px;
	height:150px;
	background-color:#18ac92;
		
}
#nieuws_cat3
{
	width:500px;
	height:150px;
	background-color:#ffa200;
		
}
.subject
{
	width:500px;
	height:50px;
	background-color:#FFF;
	margin:0;
	padding:0;
	position:relative;
}
.btn_leesmeer
{
	width:80px;
	height:25px;
	background-color:#000;
	position:absolute;
	bottom:5px;
	right:10px;
	text-align:center;	
	margin:0;
	padding:0;
	line-height:25px;
	text-decoration:none;
}

.nieuws_buurt a
{
	text-align:center;	
	margin:0;
	padding:0;
	color:#FFF;
	font-size:10px;

}
.items a
{
	text-align:center;	
	margin:0;
	padding:0;
	color:#FFF;
	font-size:10px;
	

}
.nieuws_cat h1
{
	font-size:18px;	
	color:#fff;
	margin-left:15px;
	line-height:40px;
}
.nieuws_cat p
{
	font-size:12px;	
	color:#fff;
	top:10px;
	margin-left:-73px;
	line-height:18px;
	
}