body,html{
    padding:0;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background-color: #e8e8e8;
}

#wrapper{

	height:auto;
	width:100%;
	position:relative;
	margin:auto;
}

#sub_wrapper{

	height:auto;
	width:90%;
	position:relative;
	margin:auto;


}



